<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="icon" href="logo/tab-logo.png" />
    <title>Rimbahana | Home</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="logo">
      <img src="/logo/rimbahana.png" />
    </div>
    <div class="wrapper">
      <a id="information" href="information">
        <div class="overlay">
          <div class="desc">
            <h3>Information about mountains and situations surroundings</h3>
            <p>
              We will give you information you need before start your adventure.
              Click this banner to continue.
            </p>
          </div>
        </div>
      </a>
      <a id="registration" href="registration">
        <div class="overlay">
          <div class="desc">
            <h3>All you need for exploring Indonesian mountains</h3>
            <p>
              We will help you register your group for any mountain destinations
              you can go. Click this banner to continue.
            </p>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
