<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/info.css" />
    <link rel="icon" href="logo/tab-logo.png" />
    <title>Rimbahana | Information</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/logo/rimbahana.png" alt="" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Hiking Registration</a>
          </li>
          <li>
            <a href="">Explore Mountain</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
        </ul>
      </nav>
      <form action="" method="get">
        <i class="fas fa-search"></i><input type="text" name="" id="" />
      </form>
    </header>
    <div class="content">
      <h1>INDONESIA'S MOUNTAIN</h1>
      <section class="all-mountain">
        <div class="mountain">
          <img src="./image/information/jayawijaya.jpg" alt="" />
        </div>
        <div class="mountain">
          <img src="./image/information/kerinci.jpg" alt="" />
        </div>
        <div class="mountain">
          <h1>mountain 3</h1>
        </div>
        <div class="mountain">
          <h1>mountain 4</h1>
        </div>
        <div class="mountain">
          <h1>mountain 5</h1>
        </div>
        <div class="mountain">
          <h1>mountain 5</h1>
        </div>
      </section>
    </div>
  </body>
</html>
