<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/info.css" />
    <link rel="icon" href="logo/tab-logo.png" />
    <title>Rimbahana | Information</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/logo/rimbahana.png" alt="" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Hiking Registration</a>
          </li>
          <li>
            <a href="">Explore Mountain</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
        </ul>
      </nav>
      <form action="" method="get">
        <i class="fas fa-search"></i><input type="text" name="" id="" />
      </form>
    </header>
    <div class="content">
      <h1>INDONESIA'S MOUNTAIN</h1>
      <section class="all-mountain">
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/jayawijaya.jpg" alt="" />
          </div>
          <h2>JAYAWIJAYA</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a href="jayawijaya">EXPLORE</a>
        </div>
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/kerinci.jpg" alt="" />
          </div>
          <h2>KERINCI</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a>EXPLORE</a>
        </div>
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/rinjani.jpg" alt="" />
          </div>
          <h2>RINJANI</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a>EXPLORE</a>
        </div>
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/semeru.jpg" alt="" />
          </div>
          <h2>SEMERU</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a>EXPLORE</a>
        </div>
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/merapi.jpg" alt="" />
          </div>
          <h2>MERAPI</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a>EXPLORE</a>
        </div>
        <div class="mountain">
          <div class="image-border">
            <img src="./image/information/merbabu.jpg" alt="" />
          </div>
          <h2>MERBABU</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
            dolores maxime. Vitae odit exercitationem, dolores deserunt harum
            ipsam commodi repellendus possimus labore nostrum modi ea. Qui
            aperiam explicabo praesentium illum.
          </p>
          <a>EXPLORE</a>
        </div>
      </section>
    </div>
  </body>
</html>
