html,
body {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  max-width: 100vw;
  background: #363636;
  color: #d3b178;
  align-items: center; }
  header .logo img {
    width: 200px; }
  header nav {
    display: flex; }
    header nav ul {
      padding: 0;
      display: flex; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          color: #d3b178;
          text-decoration: none;
          padding: 0 50px; }
  header .search {
    width: 200px;
    background: wheat;
    display: flex; }
