<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/mountain.css" />
    <link rel="icon" href="logo/tab-logo.png" />
    <title>Rimbahana | Jayawijaya</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/logo/rimbahana.png" alt="" />
      </div>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Hiking Registration</a>
          </li>
          <li>
            <a href="">Explore Mountain</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
        </ul>
      </nav>
      <form action="" method="get">
        <i class="fas fa-search"></i><input type="text" name="" id="" />
      </form>
    </header>
    <h1>JAYAWIJAYA</h1>
  </body>
</html>
