html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 100vw;
  background: #363636;
  color: #d3b178;
  align-items: center;
  .logo {
    display: flex;
  }
  nav {
    display: flex;
    ul {
      display: flex;
      li {
        list-style: none;
        a {
          color: #d3b178;
          text-decoration: none;
          padding: 0 50px;
        }
      }
    }
  }
  .search {
    display: flex;
  }
}
