html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #d3b178;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 100vw;
  background: #363636;
  color: #d3b178;
  align-items: center;
  .logo {
    img {
      width: 200px;
    }
  }
  nav {
    display: flex;
    padding: 0;
    margin: 0;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      li {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        a {
          margin: 0;
          padding: 0;
          display: flex;
          color: #d3b178;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.2em;
          transition: 0.5;
          padding: 0 50px;
          line-height: 75px;
          transition: 0.3s;
        }
        a:hover {
          background: #d3b178;
          color: #363636;
        }
      }
    }
  }
  form {
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
    i {
      font-size: 1.25em;
    }
    input[type="text"] {
      border-radius: 20px;
      border: 2px solid #d3b178;
      padding: 0 5px;
      width: 100%;
      height: 28px;
    }
    input[type="text"]:focus {
      outline: none;
    }
  }
}

.content {
  h1 {
    text-align: center;
    margin: 35px 0;
    font-size: 2em;
  }
  section.all-mountain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 3%;
    .mountain {
      width: 30%;
      display: flex;
      padding-bottom: 20px;
      flex-direction: column;
      .image-border {
        width: 350px;
        height: 200px;
        background: wheat;
        margin: auto;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px grey;
      }
      // img {
      //   width: 350px;
      //   border-radius: 10%;
      //   margin: auto;
      // }
    }
  }
}
