body {
  padding: 0;
  margin: 0;
  display: flex;
}

#logo {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 0;
  display: flex;
  height: 180px;
  img {
    margin: auto;
    width: 350px;
  }
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "Roboto", sans-serif;
  a {
    height: 100vh;
    width: 50%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    .desc {
      margin: auto;
      width: 70%;
      height: 230px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        text-align: center;
        font-size: 1.9em;
        font-weight: 50;
        transition: 1s;
      }
      p {
        font-size: 1.2em;
        text-align: center;
        transition-duration: 1s;
        opacity: 0;
      }
    }
  }

  a:hover {
    cursor: pointer;
  }

  a:hover h3 {
    font-size: 2em;
  }

  a:hover p {
    opacity: 1;
  }

  #information {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/background/info-bg.jpg");
    background-size: cover;
    background-position: center;
  }

  #registration {
    background: linear-gradient(rgba(226, 164, 164, 0.2), rgba(0, 0, 0, 0.2)),
      url("/background/regis-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}
